#imagenMarca3_hergilrau {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#imagenMarca4_hergilrau {
text-align: center;
}

.licencia2_hergilrau {
display: block;
margin: auto;
}

.contenedorVideoBotones_hergilrau{
    display: grid;
    grid-template-columns:auto auto;
    justify-content: space-around;
}